<% unless current_user %>
  <%= render 'welcome_header' %>
<% end %>
<div class="container_home">
  <div class="row">
    <% if @articles.any? %>
      <%= render @articles %>
    <% end %>
  </div>
</div>
<div class="paginate">
  <%= paginate @articles%>
</div>
