<div class="container_home">
  <% if @articles %>
    <div class="row">
      <%= render @articles %>
    </div>
    <div class="paginate">
      <%= paginate @articles, params_name: :article  %>
    </div>
  <% end %>
</div>
