<% if comment.reply_id==nil%>
  <div class="reply-form" style="border-bottom: 1px solid #ffe082;">
    <%= render 'comments/reply_form', comment: comment %>
    <% if any_reply?(comment) %>
      <div class="grad-wrap">
        <input id="trigger-<%= comment.id %>" class="grad-trigger" type="checkbox">
        <label class="grad-btn" style="margin-left:80%;" for="trigger-<%= comment.id %>"></label>
        <% @article.comments.each do |reply| %>
          <% if comment.id==reply.reply_id%>
            <div class="grad-item">
              <%= render 'comments/reply_list', reply: reply %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
