<%= form_tag(article_comments_path(@article), id: "comment-form", data: {remote: true}) do  %>
  <input type="hidden" value="<%= @article.id%>" name="comment[article_id]">
  <textarea id="" name="comment[content]" v-model="comment"
   :rows="rows" placeholder="コメント"></textarea>
  <button v-show="comment" v-on:click="send" class="btn btn-orange">コメント</button>
<% end %>
 <script type="text/javascript">
   var vm = new Vue({
     el: "#comment-form",
     data: {
       comment: "",
     },
     computed: {
       rows: function(){
         var num = this.comment.split("\n").length;
         return (num > 3) ? num : 3;
       }
     },
     methods: {
       send: function(){
         this.comment = "";
       }
     }
   });
   window.vm=vm
 </script>
