<%= form_tag(article_comments_path(@article), id: "comment-form", data: {remote: true}) do  %>
  <input type="hidden" value="<%= @article.id%>" name="comment[article_id]">
  <div class="row">
    <div class="col s20 input-field">
      <textarea id="textarea1" class="materialize-textarea" name="comment[content]"
      v-model="comment" :rows="rows"></textarea>
      <label for="textarea1">Comment</label>
    </div>
    <div class="col s2 offset-s2">
      <button v-show="comment" v-on:click="send" class="btn btn-brown">送信</button>
    </div>
  </div>
<% end %>
 <script type="text/javascript">
   var vm = new Vue({
     el: "#comment-form",
     data: {
       comment: "",
     },
     computed: {
       rows: function(){
         var num = this.comment.split("\n").length;
         return (num > 3) ? num : 3;
       }
     },
     methods: {
       send: function(){
         this.comment = "";
       }
     }
   });
   window.vm=vm
 </script>
