<div class="col-sm-4 col-xs-4 col-md-3">
  <div class="thumbnail">
    <img src="/image/header.jpeg">
    <div class="content_wrapper">
      <div class="title">
        <h3><%= link_to article.title, article %></h3>
      </div>
      <div class="footer">
        <div class="container_left col-sm-8 col-md-8 col-xs-8">
          <%= user_image_for(article.user) %>
          <h5 class="user_name"><%= link_to article.user.name, article.user %></h5>
        </div>
        <div class="container_right col-sm-4 col-sm-4 col-sm-4">
          <h5><%= article.created_at.strftime('%Y/%m/%d') %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
