<div class="modal" id="price-modal" tabindex="-1" role="dialog" aria-labelledby="price-modal-label" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">価格設定画面</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&#215;</span><span class="sr-only">閉じる</span>
        </button>
      </div>
      <%= f.fields_for :price do |price_form| %>
      <div class="modal-body" id="modal-body">
        <div class="free-or-toll row">
          <div class="btn-group btn-group-toggle col-md-4 offset-md-8 col-sm-4 
            offset-sm-8 col-xs-4 offset-xs-8">
            <label class="btn btn-primary"  v-bind:class='{active:isDisabled}'>
              <input type="radio" v-on:change="pressFree" id="free" name="options" id="option1"  value="free">無料
            </label>
            <label class="btn btn-primary" v-bind:class='{active:!isDisabled}'>
              <input type="radio" v-on:change="pressToll" id="toll" name="options" id="option2"  value="toll">有料
            </label>
          </div>
        </div>

        <div class="controls">
          <p>開始価格</p>
            <input type="number" v-model="minPrice" name="article[price_attributes][min]"
            class="form-control margin-yen" placeholder="100~1000" :readonly="isDisabled">
          <span>円</span>
        <p>最大価格</p>
            <input v-model="maxPrice" name="article[price_attributes][max]"
            class="form-control margin-yen" placeholder="100~1000" :readonly="isDisabled">
            <span>円</span>
          <p>レート</p>
          <%= price_form.select :rate, enum_options_for_select(Price, :rate), {}, class:"form-control margin-yen", ":readonly": "isDisabled", "v-model": "rate" %>
        </div>
      <% end %>
      <div class="modal-footer">
        <input type="submit" class="btn btn-orange" value="記事を投稿" v-on:change="unDisabled">
      </div>
    </div>
  </div>
</div>
