<div class="paginate">
  <%= paginate @favorites, param_name: :favorite, remote: true %>
</div>
<div class="row">
  <%= render @favorites %>
</div>
<div class="paginate">
  <%= paginate @favorites, param_name: :favorite, remote: true %>
</div>
</div>
