<div id="follow_list" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Follow</h4>
    <ul class="collection">
      <% @user.following.each do |user| %>
        <li class="collection-item avatar valign-wrapper">
          <div class="follow_li">
            <%= link_to user_image_for(user, size: 50), user %>
            <%= link_to user.name, user, class: "user-name valign-wrapper" %>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
