<div style="margin-top:5vh;">
  <% if @purchases.any? %>
    <%= render @purchases %>
  <% end %>
</div>
<div class="paginate">
  <%= paginate @purchases, param_name: :purchase, remote: true %>
</div>
