<div class="profile-image">
  <%= image_tag(@user.image.thumb.url) if !@user.image.file.nil? %>
</div>
<div class="profile-text">
  <%= @user.name %>
</div>
<div class="profile-text">
  <%= @user.profile %>
</div>

