<div class="row">
    <div class="profile_wrapper col-xs-3 col-sm-3 col-md-3">
      <div class="profile">
        <%= render @user %>

        <% if current_user&&current_user?(@user) %>
          <%= link_to '編集', edit_user_path(@user) %>
        <%end%>
      </div>
    </div>
    <div class="articles_wrapper col-md-9 col-xs-9 col-sm-9">
      <div class="my_articles">
        <ul style="list-style: none;">
          <% if @article.any? %>
            <%= render @article %>
          <% end %>
        </ul>
      </div>
      <div class="paginate">
        <%= will_paginate @article %>
      </div>
    </div>
  </div>
