<button type="button" class="btn waves-effect waves-light modal-trigger" data-target="myModal">
  続きを見る
</button>
<div class="modal" id="myModal">
  <div class="modal-header row valign-wrapper">
    <h5 class="modal-title col s8 offset-s8">
      購入しますか？
    </h5>
    <button type="button" class="modal-close btn-flat col offset-s7 s1">
      <span aria-hidden="true">&#215;</span><span class="sr-only"></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="controls">
      <div class="row">
        <p class="article_title"><%= @article.title%></p>
      </div>
      <div class="row">
        <div class="col s8 now_price">
          <label>現在価格</label>
          <p><%= display_in_yen(@article.price.min) %></p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= form_tag(article_purchases_path(article_id: @article.id), method: :post) do %>
        <input type="hidden" value="<%= @article.price.min%>" name="price">
        <input type="submit" value="購入する" class="btn">
      <% end %>
    </div>
  </div>
</div>
