<form enctype="multipart/form-data" action="/file_uploaders" accept-charset="UTF-8" data-remote="true" method="post" id="file-form">
  <input name="utf8" type="hidden" value="✓">
  <div class="file-field">
    <i class="large material-icons">add_a_photo
      <input accept="image/jpg,image/jpeg,image/png,image/gif" type="file" name="file_uploaders[file]" >
    </i>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" id="file_path">
    </div>
  </div>
</form>

 <script type="text/javascript">
  $("#file_path").on("change", function() {
   Rails.fire($(this).closest("form")[0], 'submit');
  });
 </script>
