/* This is needed for some mobile phones to display the Google Icon font properly */
.material-icons {
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}
.material-icons.large_icon{
  font-size: 40px;
}
.like_cancel{
  color: orange;
}
.bad_cancel{
  color: blue;
}
.purchase{
  color: black;
}
