.ribbon_area {
    position: absolute;
    top: -6px;
    right: 7px;
    width: 89px;
    height: 91px;
    overflow: hidden;
    z-index: 1;
  }

.ribbon{
    display: inline-block;
    position: absolute;
    padding: 7px 0;
    left: -23px;
    top: 22px;
    width: 160px;
    text-align: center;
    font-size: 18px;
    line-height: 16px;
    // background: #ffa520;
    background: #40c4ff;
    color: #fff;
    letter-spacing: 0.05em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.ribbon:before,.ribbon:after{
    position: absolute;
    content: "";
    // border-top: 4px solid #b2751b;
    border-top: 4px solid #0277bd;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    bottom: -4px;
}

.ribbon:before{
    left: 14px;
}

.ribbon:after{
  	right: 18px;
}

//static-pages
.article-one{
  min-width: 280px;
  min-height: 280px;
  position: relative;
  .card{
    .card-image{
      background-color: black;
      img{
        min-height: 210px;
        height: 31vh;
      }
      .header-image{
        opacity: 0.7;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        &:hover{
          opacity: 1.0;
        }
      }
    }
    .card-content{
      .icons{
        display: inline;
      }
    }
    .card-action{
      padding: 0;
      min-height: 50px;
      .row{
        margin: 0 auto;
        img{
          margin-top: 1vh;
        }
      }
    }
  }
}

//article_new
.file_btn{
  position: fixed;
  right: 2vw;
  top: 150px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 996;
}

.row{
  margin: 5vh 2vw;
  .title{
    margin: 3vh 1vw;
    height: 50px;
    input{
      width: 100%;
      height: 100%;
      font-size: 2em;
    }
  }
  .content{
    display: inline-block;
    vertical-align: top;
    padding: 0;
    height: 80vh;
    textarea{
      height: 100%;
      margin: 0;
      padding: 3vh 3vw ;
      background-color: #fff;
      border: none;
    }
  }
  .preview{
    overflow: auto;
    height: 80vh;
    display: inline-block;
    background-color: #fff;
    border: none;
    .preview-wrapper{
      padding: 3vh 3vw;
      .preview-placeholder{
        font-size: 3vh;
      }
    }
  }
}

.modal_wrapper{
  .btn-large{
    font-weight: bold;
    margin: 2vh 5vw;
    float: right;
  }
}

//article show
.sidebar{
  position: fixed;
  left: 30px;
  overflow-x: hidden;
  z-index: 996;
}
.collapsible{
  position: relative;
  width: 100%;
  bottom: 0px;
  z-index: 1000;
}
.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.modal{
  .modal-body{
    .controls{
      width: 90%;
      margin: 0 auto;
      .article_title{
        font-size: 20px;
        border-bottom: 1px solid #40c4ff;
      }
      .now_price{
        label{
          font-size: 15px;
        }
        p{
          padding-left: 3vw;
          font-size: 18px;
          border-bottom: 1px solid #40c4ff;
        }
      }
      .margin-yen{
        width: 90%;
        margin: 0 auto;
        margin-left: 3%;
        display: inline-block;
      }
    }
  }
}
.star-size{
  img{
    height: 20px;
  }
}
