@import './color';
.article{
  display: flex;
  vertical-align: middle;
}
.thumbnail {
  a{
    color: $char-black;
  }
  display: inline-block;
  margin-top: 2vh;
  border: 0 none;
  padding: 0;
  box-shadow: 1px 1px 1px gray;
  .content_wrapper{
    padding: 0 1vw;
    .title{
      font-size: 1vw;
      padding: 2vh 1vw;
      overflow: auto;
      height: 60px;
    }
    .footer{
      position: relative;
      height: 8vh;
      min-height: 40px;
      font-size: 1vh;
      margin: 1vh auto;
      border-top: solid 2px #f4f7f6;
      padding: 1vh 0;
      .container_left{
        float: left;
        padding-left: 0;
        min-height: 40px;
        .icon_image{
          float: left;
          margin-right: 1vw;
          border-radius: 50%;
          background-position: center;
        }
      }
      .container_right{
        overflow-x: auto;
        float: right;
        min-height: 30px;
        margin-top: 10px;
      }
    }
  }
}

.paginate{
  text-align: center;
}
#editor{
  .title{
    margin: 3vh 1vw;
    height: 50px;
    input{
      width: 100%;
      height: 100%;
      font-size: 2em;
    }
  }
  .content{
    display: inline-block;
    vertical-align: top;
    textarea{
      height: 80vh;
      width: 49.5vw;
      padding: 3vh 3vw ;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
  .preview{
    overflow: auto;
    width: 50vw;
    height: 80vh;
    padding: 3vh 3vw ;
    display: inline-block;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .btn{
    float: right;
    margin: 0 2vw 2vw 2vh;
  }
}

.article-body{
  padding: 3vh 3vw;
  background-color: $back-white;
  .title{
    font-size: 3.5rem;
    margin: 30px  0 10vh 0;
  }
  .content{
    line-height: 2em;
    h2, h3, h4, h5, h6 {
      margin-top: 50px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
      font-weight: bold;
    }
  }
  .article-header{
    margin-bottom: 60px;
    padding: 3vh 0;
    .article-header-left{
      float: left;
      a{
        color: black;
        margin-left: 10px;
      }
      .time{
        color: $char-light-gray;
        margin-left: 20px;
      }
    }
    .article-header-right{
      float: right;
    }
  }
  .article-footer{
    margin-top: 80px;
    margin-bottom: 30px;
  }

}
