#editor{
  float: center;
  #text-area{
    height: 100vh;
  }
  .preview{
    border: 1px solid #000;
    height: 100vh;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
