//static-pages
.article-one{
    min-width: 280px;
    min-height: 280px;
    .card{
      .card-image{
        background-color: black;
        .header-image{
          opacity: 0.7;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          &:hover{
            opacity: 1.0;
          }
        }
      }
      .card-content{
        .icons{
          display: inline;

        }
      }
      .card-action{
        padding: 0;
        min-height: 50px;
        .row{
          margin: 0 auto;
          img{
            margin-top: 1vh;
          }
        }
      }
    }
  }

//article_new
.file_btn{
  position: fixed;
  right: 2vw;
  top: 18vh;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 996;
}

.row{
  margin: 5vh 2vw;
  .title{
    margin: 3vh 1vw;
    height: 50px;
    input{
      width: 100%;
      height: 100%;
      font-size: 2em;
    }
  }
  .content{
    display: inline-block;
    vertical-align: top;
    padding: 0;
    height: 80vh;
    textarea{
      height: 100%;
      margin: 0;
      padding: 3vh 3vw ;
      background-color: #fff;
      border: none;
    }
  }
  .preview{
    overflow: auto;
    height: 80vh;
    display: inline-block;
    background-color: #fff;
    border: none;
    .preview-wrapper{
      padding: 3vh 3vw;
      .preview-placeholder{
        font-size: 3vh;
      }
    }
  }
}

.modal_wrapper{
  .btn-large{
    font-weight: bold;
    margin: 2vh 5vw;
    float: right;
  }
}


.sidebar{
  position: fixed;
  left: 30px;
  overflow-x: hidden;
  
}

.modal{
  .modal-body{
    .controls{
      width: 90%;
      margin: 0 auto;
      .margin-yen{
        width: 90%;
        margin: 0 auto;
        margin-left: 3%;
        display: inline-block;
      }
    }
  }
}
