@import "./color";

.bad-button{
  color: $char-blue;
  font-size: 32px;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  &:hover{
    color: $hover-blue;
    border: none;
    text-decoration: none;
  }
}
.bad-icon{
  font-size: 32px;
  color: $char-blue;
}
.bad-count{
  display: inline-block;
  vertical-align: bottom;
  height: 32px;
}
