$back-white: #fcfcfc;
$back-color: #f4f7f6;
$char-orange: orange;
$hover-orange: #e0a125;
$char-blue: #007bff;
$hover-blue: #0070f0;
$char-black: #333;
$char-light-gray: #aaa;
$border-gray: #ccc;

body{
  background-color: $back-color !important;
}
.btn-orange{
  background-color: orange;
  border: none;
  color: white;
  &:hover{
    background-color: #e0a125;
    color: white;
  }
}
.time{
  color: $char-light-gray;
}
