$back-white: #fcfcfc;
$back-color: #f4f7f6;
$char-orange: orange;
$char-black: #333;


body{
  background-color: $back-color !important;
}
.btn-orange{
  background-color: orange;
  border: none;
  &:hover{
    background-color: #e0a125;
  }
}
