.collapsible-body{
  .row{
    .input-field{
      textarea, input{
        color: #ca9531;
        // Focused input style
        &:focus:not([readonly]) {
          border-bottom: 1px solid #ca9531;
          box-shadow: 0 1px 0 0 #ca9531;
        }

        // Focused label style
        &:focus:not([readonly])+label {
          color: #ca9531;
        }
      }
    }
  }
}


.comment-index{
  clear: left;
  .comment{
    .comment-header{
      height: 40px;
      .ch-user-info{
        display: inline-block;
      }
      .ch-comment-info{
        display: inline-block;
        float: right;
        height: 20px;
        margin: 10px 0;
      }
    }
    .comment-body{
      padding: 5px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
}
