.comments{
  border-top: 1px solid #ccc;
  padding: 3vh 3vw;
  background-color: $back-white;
  .comment-form{
    margin-top: 30px;
    textarea{
      width: 100%;
      border: 1px solid #ccc;
      float: left;
      margin-bottom: 2vh;
      overflow-y: hidden;
    }
    button{
      float: right;
    }
  }
  .comment-index{
    clear: left;
    margin-top: 30px;
    .comment{
      margin-top: 30px;
      .comment-header{
        height: 40px;
        .ch-user-info{
          display: inline-block;
        }
        .ch-comment-info{
          display: inline-block;
          float: right;
          height: 20px;
          margin: 10px 0;
        }
      }
      .comment-body{
        padding: 5px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }
  }
}

