.collapsible-body{
  .row{
    .input-field{
      textarea, input{
        color: #ca9531;
        // Focused input style
        &:focus:not([readonly]) {
          border-bottom: 1px solid #ca9531;
          box-shadow: 0 1px 0 0 #ca9531;
        }

        // Focused label style
        &:focus:not([readonly])+label {
          color: #ca9531;
        }
      }
    }
  }
}
