@import "./color";

.header{
  padding-right: 5vw;
  padding-left: 5vw;
  margin-bottom: 5vh;
  background-color: $back-white !important;
  #logo{
    color: $char-orange;
    font-size: 1.7em;
  }
}

.paginate{
  margin-top: 10vh;
}
