
.header{
  background-color: $back-white !important;
  margin: 10px;
  #logo{
    color: $char-orange;
    font-size: 1.7em;
  }
}

.thumbnail {
  margin-top: 2vh;
  border: 0 none;
  padding: 0;
  box-shadow: 1px 1px 1px gray;
  .content_wrapper{
    padding: 0 1vw;
    .content{
      font-size: 1vw;
      padding: 2vh 1vw;
    }
    .footer{
      position: relative;
      height: 8vh;
      font-size: 1vh;
      margin: 0 auto;
      border-top: solid 2px #f4f7f6;
      padding: 1vh 0;
      .container_left{
        float: left;
        padding-left: 0;
        .icon_image{
          float: left;
          margin-right: 1vw;
          border-radius: 50%;
          background-position: center;
        }
      }
      .container_right{
        float: right;
      }
    }
  }
}
