@mixin paginate_size {
  height: 40px;
  width: 40px;
  border-radius: 2px;
  line-height: 40px;
}


.paginate{
  margin: 10vh 0;
  text-align: center;
  .pagination{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    .active{
      a{
        @include paginate_size;
        background-color: #40c4ff;
        border-color: #40c4ff;
        &:hover{
          color: white;
        }
      }
    }
    .page-item{
      a{
        @include paginate_size;
        &:hover{
          color: #40c4ff;
          background-color: #e1f5fe;
        }
      }
    }
  }
}
