

.users-form{
  max-width: 330px;
  width: 30%;
  margin: 0 auto;
  padding: 15px;
  h2{
    text-align: center;
  }
  h3{
    margin-top: 20px;
    text-align: center;
  }
  .form-control{
    margin-bottom: 10px;
  }
}
