

.users-form{
  max-width: 330px;
  width: 30%;
  margin: 0 auto;
  padding: 15px;
  h2{
    text-align: center;
  }
  h3{
    margin-top: 20px;
    text-align: center;
  }
  .form-control{
    margin-bottom: 10px;
  }
  .form-label{
    font-weight: 250;
  }
  .field-profile{
    height: 200px;
    .profile{
      height: 80%;
    }
  }
}
.row{
  margin-top: 5vh;
  height: 100%;
  .profile_wrapper{
    float: left;
    background-color: white;
    padding:3vw;
    height: 100%;
  }
  .articles_wrapper{
    float: right;
  }
}
.comment-index{
  .icon-image{
    border-radius: 50%;
  }
}
