.users-form{
  max-width: 330px;
  width: 30%;
  margin: 0 auto;
  padding: 15px;
  h2{
    text-align: center;
  }
  h3{
    margin-top: 20px;
    text-align: center;
  }
  .form-control{
    margin-bottom: 10px;
  }
  .form-label{
    font-weight: 250;
  }
  .field-profile{
    height: 200px;
    .profile{
      height: 80%;
    }
  }
}
.profile{

}
.comment-index{
  .icon-image{
    border-radius: 50%;
  }
}
.icon_image{
  border-radius: 50%;
}
.users-show{
  .user-info{
    padding: 3vh 3vw;
    // background-color: $back-white;
    border-radius: 10px;
    // border: 1px solid $border-gray;
    .user-info-image{
      display: inline-block;
      margin-bottom: 3vh;
    }
    .profile{
      // border-top: 1px solid $border-gray;
      display: inline-block;
      margin-bottom: 3vh;

    }
  }
  .users-articles{
    // background-color: $back-white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5vh 5vw;
    .tab-content{
      margin-top: 10vh;
    }
  }
}
