<div class="write-review">
  <%= render 'reviews/article_modal', article: article %>
  <%= form_tag article_reviews_path(@article)  do |f| %>
    <input type="hidden" value="<%= article.id%>" name="article_id">
    <input type="hidden" value="">
    <div id="star-rate">
      <star-rating :star-size="20">
      </star-rating>
    </div>
    <div class="review-title">
      <label for="title">titie</label></br>
      <input type="text" name="title" placeholder="タイトル">
    </div>
    <div class="review-content">
      <label for="content">content</label></br>
      <textarea name="content" placeholder="レビュー内容"></textarea></br>
    </div>
    <input type="submit" class="btn btn-primary">
  <% end %>
</div>
<%= javascript_pack_tag 'star' %>
