<div class="review-one" style="border: 1px solid;">
  <div class="review-star">
    <star-rating :read-only="true" :rating="<%= review.star %>" :star-size="20"
    :show-rating="false"></star-rating>
  </div>
  <div class="review-title">
    <%= review.title %>
  </div>
  <div class="review-content">
    <%= review.content%>
  </div>
</div>
