<div class="reviews-show" id="reviews-index">
  <% if @reviews.any?%>
    <div id="review-feeds">
      <%= render @reviews_feeds %>
      <div class="paginate">
        <%= paginate @reviews_feeds %>
      </div>
    </div>
  <% else %>
    レビューはまだありません
  <% end%>
</div>
