<div class="container">
  <div class="row">
    <% @articles.each do |article| %>
      <% review_instance_from(article) %>
      <% if @review %>
        <%= render 'edit_form', article: article %>
      <% else %>
        <%= render 'form', article: article%>
      <% end %>
    <% end %>
  </div>
</div>
